<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display webpage models</h1>
        <table border="3px">
            <tr>
                <td>Topic_name</td>
                <td>name</td>
                <td>URL</td>
            </tr>
            {% for i in LWO %}
                <tr>
                    <td>{{i.table_name}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.url}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>